html {
	background-color: lightblue;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-color: #222222;
}

body {
	margin: 0;
	height: 100%;
}

#root-message-anchor {
	position: absolute;
	overflow: visible;
	width: 0;
	height: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}